body {
    margin: 0;
    text-align: center;
    background-color: #ffff9a;
}

header {
    background-color: #ffc029;
}

h2{
    margin: 0;
    padding: 10px 0;
}

.container {
    margin-top: 50px;
}

.container p{
    font-size: 20px;
}

.show{
    margin-top: 25px;
}

button {
    height: 30px;
    width: 75px;
    border-radius: 5px;
    border-style: none;
    background-color: #ffc029;
    font-size: 14px;
}

button:hover {
    background-color: #ffb200;
    cursor: pointer;
}

.fact{
    margin-top: 25px;
}

.fact p{
    font-size: 18px;
}