body {
    margin: 0;
    text-align: center;
    background-color: #ffff9a;
}

header {
    background-color: #ffc029;
}

h2{
    margin: 0;
    padding: 10px 0;
}

.container {
    margin-top: 50px;
}
